<ol class="snsb">
  <li>
    <iframe src="http://ghbtns.com/github-btn.html?user=docrails-tw&repo=guides&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20">
    </iframe>
  </li>
  <li>
    <div class="fb-like" data-href="http://rails.ruby.tw" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rails.ruby.tw/" data-text="Ruby on Rails 指南：系統化學習 Rails（Rails 4.2 版本）" data-lang="zh-TW" data-hashtags="railsguidestw">
      Tweet
    </a>
  </li>
</ol>
