<h2>Ruby on Rails 指南 (<%= @edge ? @version[0, 7] : @version %>)</h2>
<br>
<p>
  這些指南基於 Rails 的 <a href="https://github.com/rails/rails/tree/<%= @version %>">master</a> 分支翻譯而成。
</p>
<p>
  這些精心撰寫的指南幫助您快速上手，快速、全面、系統地了解 Rails。
</p>
<p>
  穩定版本的指南（Rails 4.1.10），請參考
  <a href="//guides.rubyonrails.org">http://guides.rubyonrails.org</a>。
</p>
<p>
  其他版本：<a href="//guides.rubyonrails.org/v4.0.12/">Rails 4.0.13</a>、<a href="//guides.rubyonrails.org/v3.2.21/">Rails 3.2.21</a>、<a href="//guides.rubyonrails.org/v2.3.11/">Rails 2.3.11</a>。
</p>
