<% @version = ENV['EDGE'].presence[0..6] || 'master' %>

<h2>Ruby on Rails 指南 (<%= @version %>)</h2>
<br>
<p>
  這些指南基於 Rails 的 <a href="https://github.com/rails/rails/tree/<%= @version %>">master</a> 分支翻譯而成。
</p>
<p>
  這些精心撰寫的指南讓您能快速上手，並幫助您快速了解 Rails 方方面面。
</p>
<p>
  穩定版本的指南，請參考
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a>。
</p>
<p>
  3.2 系列的指南 <a href="http://guides.rubyonrails.org/v3.2.17/">http://guides.rubyonrails.org/v3.2.17/</a>。
</p>
<p>
  2.3 系列的指南 <a href="http://guides.rubyonrails.org/v2.3.11/">http://guides.rubyonrails.org/v2.3.11/</a>。
</p>
