<h2>Ruby on Rails 指南 (<%= @edge ? @version[0, 7] : @version %>)</h2>
<br>
<p>
  這些指南基於 Rails 的 <a href="https://github.com/rails/rails/tree/<%= @version %>">master</a> 分支翻譯而成。
</p>
<p>
  這些精心撰寫的指南幫助您快速上手，快速全面地了解 Rails。
</p>
<p>
  穩定版本的指南（Rails 4.1.1），請參考
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a>。
</p>
<p>
  其他版本：<a href="http://guides.rubyonrails.org/v4.0.5/">Rails 4.0.5</a>、<a href="http://guides.rubyonrails.org/v3.2.18/">Rails 3.2.18</a>、<a href="http://guides.rubyonrails.org/v2.3.11/">Rails 2.3.11</a>。
</p>