/* Guides.rubyonrails.org */
/* Reset.css */
/* Created January 30, 2009
--------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

body {
  line-height: 1;
  color: black;
  background: white; }

a img {
  border: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

:focus {
  -moz-outline: 0;
  outline: 0;
  outline-offset: 0; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* Guides.rubyonrails.org */
/* Main.css */
/* Created January 30, 2009 */
/* Modified February 8, 2009
--------------------------------------- */
/* General
--------------------------------------- */
.snsb {
  overflow: hidden;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 0px; }

.snsb li {
  float: left;
  margin-right: 4px;
  list-style-type: none; }

.snsb iframe {
  margin: 0 !important; }

.left {
  float: left;
  margin-right: 1em; }

.right {
  float: right;
  margin-left: 1em; }

@media screen and (max-width: 480px) {
  .left, .right {
    float: none; } }
.small {
  font-size: smaller; }

.large {
  font-size: larger; }

.hide {
  display: none; }

body {
  text-align: center;
  font-family: "Noto Sans", "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "Helvetica", "Arial", sans-serif;
  font-size: 87.5%;
  line-height: 1.5em;
  background: #fff;
  color: #999; }

body p {
  letter-spacing: .7px; }

body code {
  letter-spacing: .2px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif", "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif; }

li ul, li ol {
  margin: 0 1.5em; }

ul, ol {
  margin: 0 1.5em 1.5em 1.5em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

pre, code {
  font-size: 1em;
  font-family: "Source Code Pro", "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
  line-height: 1.5;
  margin: 1.5em 0;
  overflow: auto;
  color: #222; }

pre, tt, code, .note > p {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

abbr, acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

sup, sub {
  line-height: 0; }

p {
  margin: 0 0 1.5em; }

label {
  font-weight: bold; }

fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc; }

legend {
  font-weight: bold;
  font-size: 1.2em; }

input.text, input.title,
textarea, select {
  margin: 0.5em 0;
  border: 1px solid #bbb; }

table {
  margin: 0 0 1.5em;
  border: 2px solid #CCC;
  background: #FFF;
  border-collapse: collapse; }

table th, table td {
  padding: 0.25em 1em;
  border: 1px solid #CCC;
  border-collapse: collapse; }

table th {
  border-bottom: 2px solid #CCC;
  background: #EEE;
  font-weight: bold;
  padding: 0.5em 1em; }

img {
  max-width: 100%; }

/* Structure and Layout
--------------------------------------- */
.wrapper {
  text-align: left;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1em; }

.red-button {
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background: #751913;
  background: -webkit-gradient(linear, left top, left bottom, from(#c52f24), to(#751913));
  background: -webkit-linear-gradient(top, #c52f24, #751913);
  background: -moz-linear-gradient(top, #c52f24, #751913);
  background: -ms-linear-gradient(top, #c52f24, #751913);
  background: -o-linear-gradient(top, #c52f24, #751913);
  padding: 9px 18px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 15px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer; }

.red-button:active {
  border-top: none;
  padding-top: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#751913), to(#c52f24));
  background: -webkit-linear-gradient(top, #751913, #c52f24);
  background: -moz-linear-gradient(top, #751913, #c52f24);
  background: -ms-linear-gradient(top, #751913, #c52f24);
  background: -o-linear-gradient(top, #751913, #c52f24); }

#topNav {
  padding: 1em 0;
  color: #565656;
  background: #222; }

.s-hidden {
  display: none; }

@media screen and (min-width: 1025px) {
  .more-info-button {
    display: none; }

  .more-info-links {
    list-style: none;
    display: inline;
    margin: 0; }

  .more-info {
    display: inline-block; }

  .more-info:after {
    content: " |"; }

  .more-info:last-child:after {
    content: ""; } }
@media screen and (max-width: 1024px) {
  #topNav .wrapper {
    text-align: center; }

  .more-info-button {
    position: relative;
    z-index: 25; }

  .more-info-label {
    display: none; }

  .more-info-container {
    position: absolute;
    top: .5em;
    z-index: 20;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 20em; }

  .more-info-links {
    display: block;
    list-style: none;
    background-color: #c52f24;
    border-radius: 5px;
    padding-top: 5.25em;
    border: 1px #980905 solid; }

  .more-info-links.s-hidden {
    display: none; }

  .more-info {
    padding: .75em;
    border-top: 1px #980905 solid; }

  .more-info a, .more-info a:link, .more-info a:visited {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase; } }
#header {
  background: #c52f24 url(../images/header_tile.gif) repeat-x;
  color: #FFF;
  padding: 1.5em 0;
  z-index: 99; }

#feature {
  background: #d5e9f6 url(../images/feature_tile.gif) repeat-x;
  color: #333;
  padding: 0.5em 0 1.5em; }

#container {
  color: #333;
  padding: 0.5em 0 1.5em 0; }

#mainCol {
  max-width: 630px;
  margin-left: 2em; }

#subCol {
  position: absolute;
  z-index: 0;
  top: 21px;
  right: 0;
  background: #FFF;
  padding: 1em 1.5em 1em 1.25em;
  width: 17em;
  font-size: 0.9285em;
  line-height: 1.3846em;
  margin-right: 1em; }

@media screen and (max-width: 800px) {
  #subCol {
    position: static;
    width: inherit;
    margin-left: -1em;
    margin-right: 0;
    padding-right: 1.25em; } }
#extraCol {
  display: none; }

#footer {
  padding: 2em 0;
  background: #222 url(../images/footer_tile.gif) repeat-x; }

#footer .wrapper {
  padding-left: 1em;
  max-width: 960px; }

#header .wrapper, #topNav .wrapper, #feature .wrapper {
  padding-left: 1em;
  max-width: 960px; }

#feature .wrapper {
  max-width: 640px;
  padding-right: 23em;
  position: relative;
  z-index: 0; }

@media screen and (max-width: 800px) {
  #feature .wrapper {
    padding-right: 0; } }
/* Links
--------------------------------------- */
a, a:link, a:visited {
  color: #ee3f3f;
  text-decoration: underline; }

#mainCol a, #subCol a, #feature a {
  color: #980905; }

#mainCol a code, #subCol a code, #feature a code {
  color: #980905; }

/* Navigation
--------------------------------------- */
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-top: 1.5em;
  font-size: 1.2857em; }

.nav .nav-item {
  color: #FFF;
  text-decoration: none; }

.nav .nav-item:hover {
  text-decoration: underline; }

.guides-index-large, .guides-index-small .guides-index-item {
  padding: 0.5em 1.5em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  background: #980905;
  position: relative;
  color: white; }

.guides-index .guides-index-item {
  background: #980905 url(../images/nav_arrow.gif) no-repeat right top;
  padding-right: 1em;
  position: relative;
  z-index: 15;
  padding-bottom: 0.125em; }

.guides-index:hover .guides-index-item, .guides-index .guides-index-item:hover {
  background-position: right -81px;
  text-decoration: underline !important; }

@media screen and (min-width: 481px) {
  .nav {
    float: right;
    margin-top: 1.5em;
    font-size: 1.2857em; }

  .nav > li {
    display: inline;
    margin-left: 0.5em; }

  .guides-index.guides-index-small {
    display: none; } }
@media screen and (max-width: 480px) {
  .nav {
    float: none;
    width: 100%;
    text-align: center; }

  .nav .nav-item {
    display: block;
    margin: 0;
    width: 100%;
    background-color: #980905;
    border: solid 1px #620c04;
    border-top: 0;
    padding: 15px 0;
    text-align: center; }

  .nav .nav-item, .nav-item.guides-index-item {
    text-transform: uppercase; }

  .nav .nav-item:first-child, .nav-item.guides-index-small {
    border-top: solid 1px #620c04; }

  .guides-index.guides-index-small {
    display: block;
    margin-top: 1.5em; }

  .guides-index.guides-index-large {
    display: none; }

  .guides-index-small .guides-index-item {
    font: inherit;
    padding-left: .75em;
    font-size: .95em;
    background-position: 96% 16px;
    -webkit-appearance: none; }

  .guides-index-small .guides-index-item:hover {
    background-position: 96% -65px; } }
#guides {
  width: 27em;
  display: block;
  background: #980905;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0.25em 0.25em 1em;
  color: #f1938c;
  padding: 1.5em 2em;
  position: absolute;
  z-index: 10;
  top: -0.25em;
  right: 0;
  padding-top: 2em; }

#guides dt, #guides dd {
  font-weight: normal;
  font-size: 0.722em;
  margin: 0;
  padding: 0; }

#guides dt {
  padding: 0;
  margin: 0.5em 0 0; }

#guides a {
  color: #FFF;
  background: none !important;
  text-decoration: none; }

#guides a:hover {
  text-decoration: underline; }

#guides .L, #guides .R {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0; }

#guides .R {
  float: right; }

#guides hr {
  display: block;
  border: none;
  height: 1px;
  color: #f1938c;
  background: #f1938c; }

/* Headings
--------------------------------------- */
h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin: 0.6em 0 .2em;
  font-weight: bold; }

h2 {
  font-size: 2.1428em;
  line-height: 1em;
  margin: 0.7em 0 .2333em;
  font-weight: bold; }

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.45em; } }
h3 {
  font-size: 1.7142em;
  line-height: 1.286em;
  margin: 0.875em 0 0.2916em;
  font-weight: bold; }

@media screen and (max-width: 480px) {
  h3 {
    font-size: 1.45em; } }
h4 {
  font-size: 1.2857em;
  line-height: 1.2em;
  margin: 1.6667em 0 .3887em;
  font-weight: bold; }

h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1em 0 .5em;
  font-weight: bold; }

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1em 0 .5em;
  font-weight: normal; }

.section {
  padding-bottom: 0.25em;
  border-bottom: 1px solid #999; }

/* Content
--------------------------------------- */
.pic {
  margin: 0 2em 2em 0; }

#topNav strong {
  color: #999;
  margin-right: 0.5em; }

#topNav strong a {
  color: #FFF; }

#header h1 {
  float: left;
  background: url(../images/rails_guides_logo.gif) no-repeat;
  width: 297px;
  text-indent: -9999em;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 480px) {
  #header h1 {
    float: none; } }
#header h1 a {
  text-decoration: none;
  display: block;
  height: 77px; }

#feature p {
  font-size: 1.2857em;
  margin-bottom: 0.75em; }

@media screen and (max-width: 480px) {
  #feature p {
    font-size: 1em; } }
#feature ul {
  margin-left: 0; }

#feature ul li {
  list-style: none;
  background: url(../images/check_bullet.gif) no-repeat left 0.5em;
  padding: 0.5em 1.75em 0.5em 1.75em;
  font-size: 1.1428em;
  font-weight: bold; }

#mainCol dd, #subCol dd {
  padding: 0.25em 0 1em;
  border-bottom: 1px solid #CCC;
  margin-bottom: 1em;
  margin-left: 0;
  /*padding-left: 28px;*/
  padding-left: 0; }

#mainCol dt, #subCol dt {
  font-size: 1.2857em;
  padding: 0.125em 0 0.25em 0;
  margin-bottom: 0;
  /*background: url(../images/book_icon.gif) no-repeat left top;
  padding: 0.125em 0 0.25em 28px;*/ }

@media screen and (max-width: 480px) {
  #mainCol dt, #subCol dt {
    font-size: 1em; } }
#mainCol dd.work-in-progress, #subCol dd.work-in-progress {
  background: #fff9d8 url(../images/tab_yellow.gif) no-repeat left top;
  border: none;
  padding: 1.25em 1em 1.25em 48px;
  margin-left: 0;
  margin-top: 0.25em; }

#mainCol dd.kindle, #subCol dd.kindle {
  background: #d5e9f6 url(../images/tab_info.gif) no-repeat left top;
  border: none;
  padding: 1.25em 1em 1.25em 48px;
  margin-left: 0;
  margin-top: 0.25em; }

#mainCol div.warning, #subCol dd.warning {
  background: #f9d9d8 url(../images/tab_red.gif) no-repeat left top;
  border: none;
  padding: 1.25em 1.25em 0.25em 48px;
  margin-left: 0;
  margin-top: 0.25em; }

#subCol .chapters {
  color: #980905; }

#subCol .chapters a {
  font-weight: bold; }

#subCol .chapters ul a {
  font-weight: normal; }

#subCol .chapters li {
  margin-bottom: 0.75em; }

#subCol h3.chapter {
  margin-top: 0.25em; }

#subCol h3.chapter img {
  vertical-align: text-bottom; }

#subCol .chapters ul {
  margin-left: 0;
  margin-top: 0.5em; }

#subCol .chapters ul li {
  list-style: none;
  padding: 0 0 0 1em;
  background: url(../images/bullet.gif) no-repeat left 0.45em;
  margin-left: 0;
  font-size: 1em;
  font-weight: normal; }

div.code_container {
  background: #EEE url(../images/tab_grey.gif) no-repeat left top;
  padding: 0.25em 1em 0.5em 48px; }

.note {
  background: #fff9d8 url(../images/tab_note.gif) no-repeat left top;
  border: none;
  padding: 1em 1em 0.25em 48px;
  margin: 0.25em 0 1.5em 0; }

.info {
  background: #d5e9f6 url(../images/tab_info.gif) no-repeat left top;
  border: none;
  padding: 1em 1em 0.25em 48px;
  margin: 0.25em 0 1.5em 0; }

#mainCol div.todo {
  background: #fff9d8 url(../images/tab_yellow.gif) no-repeat left top;
  border: none;
  padding: 1em 1em 0.25em 48px;
  margin: 0.25em 0 1.5em 0; }

.note code, .info code, .todo code {
  border: none;
  background: none;
  padding: 0; }

#mainCol ul li {
  list-style: none;
  background: url(../images/grey_bullet.gif) no-repeat left 0.5em;
  padding-left: 1em;
  margin-left: 0; }

#subCol .content {
  font-size: 0.7857em;
  line-height: 1.5em; }

#subCol .content li {
  font-weight: normal;
  background: none;
  padding: 0 0 1em;
  font-size: 1.1667em; }

/* Clearing
--------------------------------------- */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

.clear {
  clear: both; }

/* Same bottom margin for special boxes than for regular paragraphs, this way
intermediate whitespace looks uniform. */
div.code_container, div.important, div.caution, div.warning, div.note, div.info {
  margin-bottom: 1.5em; }

/* Remove bottom margin of paragraphs in special boxes, otherwise they get a
spurious blank area below with the box background. */
div.important p, div.caution p, div.warning p, div.note p, div.info p {
  margin-bottom: 1em; }

/* Edge Badge
--------------------------------------- */
#edge-badge {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 100;
  border: none; }

/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */
table th {
  font-weight: bold; }

table td, table th {
  padding: 9px 10px;
  text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
  table.responsive {
    margin-bottom: 0; }

  .pinned {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 35%;
    overflow: hidden;
    overflow-x: scroll;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc; }

  .pinned table {
    border-right: none;
    border-left: none;
    width: 100%; }

  .pinned table th, .pinned table td {
    white-space: nowrap; }

  .pinned td:last-child {
    border-bottom: 0; }

  div.table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #ccc; }

  div.table-wrapper div.scrollable table {
    margin-left: 35%; }

  div.table-wrapper div.scrollable {
    overflow: scroll;
    overflow-y: hidden; }

  table.responsive td, table.responsive th {
    position: relative;
    white-space: nowrap;
    overflow: hidden; }

  table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td {
    display: none; } }
/* Guides.rubyonrails.org */
/* Print.css */
/* Created January 30, 2009 */
/* Modified January 31, 2009
--------------------------------------- */
@media print {
  body, .wrapper, .note, .info, code, #topNav, .L, .R, #frame, #container, #header, #navigation, #footer, #feature, #mainCol, #subCol, #extraCol, .content {
    position: static;
    text-align: left;
    text-indent: 0;
    background: White;
    color: Black;
    border-color: Black;
    width: auto;
    height: auto;
    display: block;
    float: none;
    min-height: 0;
    margin: 0;
    padding: 0; }

  body {
    background: #FFF;
    font-size: 10pt !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #000;
    padding: 0 3%; }

  .hide, .nav {
    display: none !important; }

  a:link, a:visited {
    background: transparent;
    font-weight: bold;
    text-decoration: underline; }

  hr {
    background: #ccc;
    color: #ccc;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none; }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; }

  code {
    font: .9em "Courier New", Monaco, Courier, monospace;
    display: inline; }

  img {
    float: left;
    margin: 1.5em 1.5em 1.5em 0; }

  a img {
    border: none; }

  blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: .9em; }

  .small {
    font-size: .9em; }

  .large {
    font-size: 1.1em; } }
/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 *
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Source Code Pro", "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important; }

.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important; }

.syntaxhighlighter.source {
  overflow: hidden !important; }

.syntaxhighlighter .bold {
  font-weight: bold !important; }

.syntaxhighlighter .italic {
  font-style: italic !important; }

.syntaxhighlighter .line {
  white-space: pre !important; }

.syntaxhighlighter table {
  width: 100% !important; }

.syntaxhighlighter table caption {
  text-align: left !important;
  padding: .5em 0 0.5em 1em !important; }

.syntaxhighlighter table td.code {
  width: 100% !important; }

.syntaxhighlighter table td.code .container {
  position: relative !important; }

.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: white !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important; }

.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 0.5em 0 1em !important; }

.syntaxhighlighter table td.code .line {
  padding: 0 1em !important; }

.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important; }

.syntaxhighlighter.show {
  display: block !important; }

.syntaxhighlighter.collapsed table {
  display: none !important; }

.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important; }

.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important; }

.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important; }

.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important; }

.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important; }

.syntaxhighlighter .toolbar span.title {
  display: inline !important; }

.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important; }

.syntaxhighlighter .toolbar a.expandSource {
  display: none !important; }

.syntaxhighlighter.ie {
  font-size: .9em !important;
  padding: 1px 0 1px 0 !important; }

.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important; }

.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important; }

.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important; }

.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important; }

.syntaxhighlighter.printing .line .content {
  color: black !important; }

.syntaxhighlighter.printing .toolbar {
  display: none !important; }

.syntaxhighlighter.printing a {
  text-decoration: none !important; }

.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important; }

.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important; }

.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important; }

.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important; }

.syntaxhighlighter.printing .preprocessor {
  color: gray !important; }

.syntaxhighlighter.printing .variable {
  color: #aa7700 !important; }

.syntaxhighlighter.printing .value {
  color: #009900 !important; }

.syntaxhighlighter.printing .functions {
  color: #ff1493 !important; }

.syntaxhighlighter.printing .constants {
  color: #0066cc !important; }

.syntaxhighlighter.printing .script {
  font-weight: bold !important; }

.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important; }

.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important; }

.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important; }

.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important; }

/**
 * Theme by fxn, took shThemeEclipse.css as starting point.
 */
.syntaxhighlighter {
  background-color: #eee !important;
  font-family: "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace !important;
  overflow-y: hidden !important;
  overflow-x: auto !important; }

.syntaxhighlighter .line.alt1 {
  background-color: #eee !important; }

.syntaxhighlighter .line.alt2 {
  background-color: #eee !important; }

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #c3defe !important; }

.syntaxhighlighter .line.highlighted.number {
  color: #eee !important; }

.syntaxhighlighter table caption {
  color: #222 !important; }

.syntaxhighlighter .gutter {
  color: #787878 !important; }

.syntaxhighlighter .gutter .line {
  border-right: 3px solid #d4d0c8 !important; }

.syntaxhighlighter .gutter .line.highlighted {
  background-color: #d4d0c8 !important;
  color: #eee !important; }

.syntaxhighlighter.printing .line .content {
  border: none !important; }

.syntaxhighlighter.collapsed {
  overflow: visible !important; }

.syntaxhighlighter.collapsed .toolbar {
  color: #3f5fbf !important;
  background: #eee !important;
  border: 1px solid #d4d0c8 !important; }

.syntaxhighlighter.collapsed .toolbar a {
  color: #3f5fbf !important; }

.syntaxhighlighter.collapsed .toolbar a:hover {
  color: #aa7700 !important; }

.syntaxhighlighter .toolbar {
  color: #a0a0a0 !important;
  background: #d4d0c8 !important;
  border: none !important; }

.syntaxhighlighter .toolbar a {
  color: #a0a0a0 !important; }

.syntaxhighlighter .toolbar a:hover {
  color: red !important; }

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #222 !important; }

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #708090 !important; }

.syntaxhighlighter .string, .syntaxhighlighter .string a {
  font-style: italic !important;
  color: #6588A8 !important; }

.syntaxhighlighter .keyword {
  color: #64434d !important; }

.syntaxhighlighter .preprocessor {
  color: #646464 !important; }

.syntaxhighlighter .variable {
  color: #222 !important; }

.syntaxhighlighter .value {
  color: #009900 !important; }

.syntaxhighlighter .functions {
  color: #ff1493 !important; }

.syntaxhighlighter .constants {
  color: #0066cc !important; }

.syntaxhighlighter .script {
  color: #222 !important;
  background-color: none !important; }

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray !important; }

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #222 !important;
  font-weight: bold !important; }

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: red !important; }

.syntaxhighlighter .xml .keyword {
  color: #64434d !important;
  font-weight: normal !important; }

.syntaxhighlighter .xml .color1, .syntaxhighlighter .xml .color1 a {
  color: #7f007f !important; }

.syntaxhighlighter .xml .string {
  font-style: italic !important;
  color: #6588A8 !important; }

/*
  Fix a rendering issue affecting WebKits on Mac.
  See https://github.com/lifo/docrails/issues#issue/16 for more information.
*/
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  line-height: 1.25em !important; }

/*# sourceMappingURL=application.css.map */
